body {
    width: 900px;
    margin: auto;
    padding-top: 20px;
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; 
}

.maintable {
    border-collapse: separate;
    border-spacing: 10px 10px;
}

.maintable td {
    width:250px;
    text-align: justify;
}

p {
    text-align:justify;
}

.indented {
    padding:10px 0px;
}
